{% extends 'base.html' %}

{% block title %}Registro de Pedidos{% endblock %}

{% block content %}
    <h2>Registro de Pedidos</h2>
    <form method="post">
        {% csrf_token %}
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.usuario.username }}</option>
            {% endfor %}
        </select>
        <label for="sucursal_origen">Sucursal Origen:</label>
        <select name="sucursal_origen" id="sucursal_origen">
            {% for sucursal in sucursales %}
                <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
            {% endfor %}
        </select>
        <label for="sucursal_destino">Sucursal Destino:</label>
        <select name="sucursal_destino" id="sucursal_destino">
            {% for sucursal in sucursales %}
                <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Registrar Pedido</button>
    </form>
{% endblock %}
