{% extends 'base.html' %}

{% block title %}Transferencia entre Sucursales{% endblock %}

{% block content %}
<h1>Transferencias</h1>
<form method="post">
    {% csrf_token %}
    <label for="sucursal">Seleccione la sucursal destino:</label>
    <select name="sucursal" id="sucursal">
        {% for sucursal in sucursales %}
        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
        {% endfor %}
    </select>
    <button type="submit">Transferir</button>
</form>
{% endblock %}
