<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Gestión de Inventario - Farmacia SanaSana</h1>
        <nav>
            <a href="/farmaceutico/">Regresar</a>
        </nav>
    </header>

    <main class="container">
        <h2>Inventario</h2>
        <button class="btn">Añadir nuevo ítem</button>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ibuprofeno</td>
                    <td>100</td>
                    <td>$2.50</td>
                    <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
                </tr>
                <tr>
                    <td>Loratadina</td>
                    <td>50</td>
                    <td>$2.50</td>
                    <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
                </tr>
                <tr>
                    <td>Alcohol</td>
                    <td>60</td>
                    <td>$3.00</td>
                    <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
                </tr>
                <tr>
                    <td>Aspirina</td>
                    <td>30</td>
                    <td>$3.00</td>
                    <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
                </tr>
                <tr>
                    <td>Complejo B</td>
                    <td>60</td>
                    <td>$3.00</td>
                    <td><button class="btn">Editar</button> <button class="btn">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2025 Farmacia SanaSana. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
